body {
    background: pink;
    color: white;
    background-color: violet;
    display: block;
}
p {
    color: white;
    font-size: medium;
    text-align: center;

}
span{
    background-color: pink;
}
