body{
    background-color: violet;
}
h2{
    color: white;
    text-align: left;
    text-decoration-color: green ;
    text-decoration: white;
    text-decoration-color: white;
}
section{
    text-align: center;
}